<nav class="navbar">
  <ul class="navbar-menu" id="navbar-menu">
    <li class="menu-header">
      <h3>Pengenalan Java Script</h3>
      <div id="container-menu">
        <div class="submenu">
          <p class="submenu-header">Pengenalan Java Script <span class="toggle-arrow">→</span></p>
          <div class="nav-link">
            <ul>
              <li><a href="/index.html">Pengenalan java script</a></li>
            </ul>
          </div>
        </div>        
      </div>
      
      <h3>Variabel</h3>
      <div id="container-menu">
        <div class="submenu">
          <p class="submenu-header">Variabel Dalam Java Script <span class="toggle-arrow">→</span></p>
          <div class="nav-link">
            <ul>
              <li><a href="/materi variabel/id-1.html">apa itu variabel</a></li>
              <li><a href="/materi variabel/id-2.html">mendklarasikan variabel</a></li>
              <li><a href="/materi variabel/id-3.html">aturan penamaan</a></li>
              <li><a href="/materi variabel/id-4.html">assignment operator (=)</a></li>
              <li><a href="/materi variabel/id-5.html">tipe data primitive</a></li>
            </ul>
          </div>
        </div>
        
        <div class="submenu">
          <p class="submenu-header">Modern JavaScript (ES6+) <span class="toggle-arrow">→</span></p>
          <div class="nav-link">
            <ul>
              <li><a href="/variabel/id-1.html">let dan const(block scapping)</a></li>
              <li><a href="#">ruang lingkup (scope)</a></li>
              <li><a href="#">hoisting</a></li>
              <li><a href="#">redeclaration</a></li>
            </ul>
          </div>
        </div>
        
        <div class="submenu">
          <p class="submenu-header">Lanjutan (Advanced Concepts) <span class="toggle-arrow">→</span></p>
          <div class="nav-link">
            <ul>
              <li><a href="/variabel/id-1.html">mutable vs imutable</a></li>
              <li><a href="#">garbage collection</a></li>
              <li><a href="#">destructuring assignment</a></li>
              <li><a href="#">typeof operator</a></li>
            </ul>
          </div>
        </div>
        
        <div class="submenu">
          <p class="submenu-header">Praktik variabel <span class="toggle-arrow">→</span></p>
          <div class="nav-link">
            <ul>
              <li><a href="#">Praktik Variabel</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </li>
  </ul>
  
  <span class="navbar-toggle" id="navbar-toggle"></span>
</nav>